The focal method is `{{ focal_method }}` in focal class `{{ class_name }}`, the information is ```{{ information }}```, the input data is ```{{ inputdata }}```, the function intention is ```{{ functionintention }}```.