The focal method is `{{ focal_method }}` in focal class `{{ class_name }}`.
The intention of the focal method is ```{{ intention }}```.
The branch condition information of the focal method is ```{{ branch }}``` .
The information is ```{{ full_fm }}```.

{% for key, value in c_deps.items() %}
The brief information of dependent class `{{ key }}` is
```{{ value }}```.
{% endfor %}
{% for key, value in m_deps.items() %}
The brief information of dependent class `{{ key }}` is
```{{ value }}```.
{% endfor %}
